<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/siwg.css">
<%- include('../partials/nav') %>

<div class="full-container">
<div class="edit-delete" class="elements">
<% if (home.owner.equals(user?.profile._id)) { %>
  <form action="/homes/<%= home._id %>/edit" method="GET">
    <button type="submit" class="btn btn-outline-primary" id="float-btn">Edit</button>
  </form>
  <form action="/homes/<%= home._id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-outline-danger" id="float-btn">Delete</button>
  </form>
<% } %>
</div>

<div id="show-cards" class="elements">
<div class="card mb-3">
  <img class="card-img-top" src="/images/New Project (2).png" alt="Card image cap">
  <div class="card-body">
    <div id="show-display">
      <div><h5 class="card-title"><%= home.location %></h5></div>
      <div><h5 class="card-title">Price: <span>$<%= home.price %></div>
      <div><h5 class="card-title">Bedrooms: <span><%= home.bedrooms %></div>
      <div><h5 class="card-title">Bathrooms: <span><%= home.bathrooms %></div>
    </div>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officiis voluptatum repellat itaque sunt dicta architecto eum fugit illum necessitatibus nobis deleniti sint neque, quod quae voluptatem laboriosam aut commodi?</p>
    <p class="card-text">
      <ul>
      <% if (home.amenities.length) { %>
        <% home.amenities.forEach(function(amenity) { %>
          
        <li id="amen-results"><h3><%= amenity.type %></h3></li>
        <% }) %>
        <% } else { %>
          <li><h3>No Amenities</h3></li>
        <% } %>
      </ul>
  </div>
</div>
</div>
</div>

<section>

</section>

<div class="amen-form">
  <h3>Add Amenities</h3>
<form 
action="/homes/<%= home._id %>/amenities" 
method="post"
>
  <input name="type" type="text" id="amenities">
  <div id="addAmen" class="blue-add-btn">
  <button type="submit" class="btn btn-primary" id="admen-button" >Add Amenity</button>
</div>
</form>
</div>

<div class="edit-delete2" class="elements">
  <% if (home.owner.equals(user?.profile._id)) { %>
    <form action="/homes/<%= home._id %>/edit" method="GET">
      <button type="submit" class="btn btn-info" id="btn">Edit</button>
    </form>
    <form action="/homes/<%= home._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger" id="btn">Delete</button>
    </form>
  <% } %>
  </div>







<%- include('../partials/footer') %>