<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/siwg.css">
<%- include('../partials/nav') %>

<section>
	<p>From the kitchen of <%= taco.owner.name %>...</p>
  <h1><%= home.city %</h1>
  <h2><%= home.price %></h2>
</section>



<%- include('../partials/footer') %>