<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/siwg.css">
<%- include('../partials/nav') %>

<section>
	
<h1><%= home.city %> </h1>

<% if (home.owner.equals(user?.profile._id)) { %>
  <form action="/homes/<%= home._id %>/edit" method="GET">
    <button class="btn" type="submit">Edit this House</button>
  </form>
<% } %>
</section>







<%- include('../partials/footer') %>